$color1: #bdde92;
$color2: beige;
$color3: olivedrab;
$color4: black;
$size1: medium;
$size2: large;
$centrar-texto: center;
$tipo-de-letra: Georgia;
$tipo-de-letra2: Verdana;
$justificado1: center;
$justificado2: space-between;
$justificado3: left;


